extends ../layout.pug

block content
    .container
        .card.p-3
            .d-flex.justify-content-center
                h4 Create Account:
            form(method="POST" action='/users/signup')
                .form-group
                    label(for="email") Email:
                    input.form-control(type="text" name='email')
                    small Enter valid email address.
                .form-group
                    label(for="displayName") Name:
                    input.form-control(type='text' name="displayName")
                    small How your name will appear.
                .form-group
                    label(for="password") Password:
                    input.form-control(type="password" required='true' name='password')
                    small (minimum 8 characters)
                .form-group
                    label(for="password") Confirm password:
                    input.form-control(type="password" required='true' name='confirmPassword')
                button.btn.btn-primary(type="submit") Sign Up!
            if message
                div.text-danger #{message}
            div Already have an account? 
                    a.ml-2(href='/users/login') Sign In

